<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${account.accountName}"></title>
</head>
<body>
<h1 th:text="${account.accountName}"></h1>
<form method="post"
    th:action="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}">
  <div>
    Account Name: <input th:field="${account.accountName}" type="text"/>
  </div>
  <div>
    <input type="submit" value="Save Account"/>
  </div>
  <hr/>
  <a th:href="@{/users/{userId}(userId=${user.userId})}"><u>Back</u></a>
</form>
</body>
</html>