<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title>Users</title>
	<!-- Link to the CSS file -->
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Users</h1>

<div id="top"></div>

<div th:if="${#lists.size(users) == 1}">
	<form method="post" th:action="@{/users/{userId}(userId=${user.userId})}">
		<div>
		<div>
				Username: <input th:field="${user.username}" type="text" />
			</div>
			<div>
				Password: <input th:field="${user.password}" type="password" placeholder="********" />
			</div>

			<div>
				Full Name: <input th:field="${user.name}" type="text" />
			</div>
		</div>
		<hr />
		<div>
			Address Line 1: <input th:field="${address.addressLine1}" type="text" />
		</div>
		<div>
			Address Line 2: <input th:field="${address.addressLine2}" type="text" />
		</div>
		<div>
			City: <input th:field="${address.city}" type="text" />
		</div>
		<div>
			Region: <input th:field="${address.region}" type="text" />
		</div>
		<div>
			Country: <input th:field="${address.country}" type="text" />
		</div>
		<div>
			Zip Code: <input th:field="${address.zipCode}" type="text" />
		</div>
		<div class="update-user-data">
			<input type="submit" value="Update User Account" />
		</div>
	</form>
	<form method="post" th:action="@{/users/{userId}/delete(userId=${user.userId})}" class="delete-form">
		<div class="delete-user-button">
			<input type="submit" value="Delete User Account" />
		</div>
	</form>
	<hr />
	<form method="post" th:action="@{/users/{userId}/accounts(userId=${user.userId})}">
		<div>
			<span><b>Accounts</b></span><br />
			<div class="accounts">
				<div th:each="account : ${user.accounts}" class="account-item">
					<a th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}"
					   th:if="${account.accountId != null}">
						<u th:text="${account.accountName}"></u>
					</a>
				</div>
			</div>
		</div>
		<div>
			<button type="submit">Create New Bank Account</button>
		</div>
	</form>
	<div class="back-button">
		<a th:href="@{/users}"><u>Back</u></a>
	</div>
</div>

<div th:each="user : ${users}" th:unless="${#lists.size(users) == 1}">
	<a th:href="@{/users/{userId}(userId=${user.userId})}"><u th:text="${user.userId}"></u></a><br />
	<span th:text="${user.username}"></span><br />
	<span th:text="${user.name}"></span><br />
	<span th:text="${user.password}"></span>
	<div th:each="account : ${user.accounts}">
		<a th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}"
		   th:if="${account.accountId != null}">
			<u th:text="${account.accountName}"></u>
		</a><br />
	</div>
	<hr />

</div>
<div class="new-user-button">
	<a href="/register">
		<button>Create New User</button>
	</a>
</div>
<button onclick="window.scrollTo(0, 0);">Back to Top</button>

</body>
</html>
