<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Users</title>
</head>
<body>
<h1>Users</h1>

<div th:if="${#lists.size(users) == 1}">
	<form action="" method="post">
		<div>
			Username: <input type="text" th:field="${user.username}" />
		</div>
		<div>
			Password: <input type="password" th:field="${user.password}" />
		</div>
		<div>
			Full Name: <input type="text" th:field="${user.name}" />
		</div>
		<hr>
		<!-- Editable Address -->
		<div>
			Address Line 1: <input type="text" th:field="${user.address.addressLine1}" />
		</div>
		<div>
			Address Line 2: <input type="text" th:field="${user.address.addressLine2}" />
		</div>
		<div>
			City: <input type="text" th:field="${user.address.city}" />
		</div>
		<div>
			Region: <input type="text" th:field="${user.address.region}" />
		</div>
		<div>
			Country: <input type="text" th:field="${user.address.country}" />
		</div>
		<div>
			Zip Code: <input type="text" th:field="${user.address.zipCode}" />
		</div>
		<br>
		<div>
			<input type="submit" value="Update User Account" />
		</div>
	</form>
	<form th:action="@{/users/{userId}/delete(userId=${user.userId})}" method="post">
		<input type="submit" value="Delete User Account" />
	</form>
	<hr>
<h2>Accounts</h2>
	
</div>

<!-- If there are multiple users -->
<div th:unless="${#lists.size(users) == 1}">
	<div th:each="user : ${users}">
		<!-- Clickable User ID -->
		<a th:href="@{/users/{userId}(userId=${user.userId})}">
			<u th:text="${user.userId}"></u>
		</a><br/>
		<!-- Other User Details -->
		<span th:text="'Username: ' + ${user.username}"></span><br/>
		<span th:text="'Full Name: ' + ${user.name}"></span><br/>
		<span th:text="'Password: ' + ${user.password}"></span><br/>
		<div th:each="account : ${user.accounts}">
			<!-- Clickable Account Name -->
			<a th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}"
			   th:text="${account.accountName}"></a><br/>
		</div>
		<hr/>
	</div>
</div>
</body>
</html>
